*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #ccc;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 0px;
    border: 5px solid rgb(216, 178, 39);
}

.container div{
    width: 100vw;
    height: calc(100vh - 10px);
    color: #fff;
    background-color: red;
    text-align: center;
    line-height: 200px;
    font-size: 2rem;
}

.container .one{
    background-color: green;
}
.container .two{
    background-color: yellow;
}
.container .three{
    background-color: purple;
}
.container .four{
    background-color: gray;
}
.container .five{
    background-color: blue;
}
.container .six{
    background-color: orange;
}
.container .seven{
    background-color: pink;
}
.container .eight{
    background-color: red;
}
.container .nine{
    background-color: crimson;
}
